.examiner-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 180px;
  border-radius: 3px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  background-color: palette(background, person-boxes); }
  .examiner-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: palette(border, box-left-border);
    -webkit-transition: transform 0.33s ease-out;
    -o-transition: transform 0.33s ease-out;
    transition: transform 0.33s ease-out; }
  .examiner-wrapper:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: palette(border, box-left-border);
    -webkit-transition: transform 0.33s ease-out;
    -o-transition: transform 0.33s ease-out;
    transition: transform 0.33s ease-out;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  .examiner-wrapper.notComplete:before {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  .examiner-wrapper.notComplete:after {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; }

.examiner-pic-wrapper,
.examiner-fields-wrapper,
.examiner-buttons-wrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100%;
  float: left; }

.examiner-buttons-wrapper {
  width: 150px;
  padding: 40px 0; }
  .examiner-buttons-wrapper:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 1px;
    height: 100px;
    background-color: palette(border); }

.examiner-fields-wrapper {
  width: calc(100% - 350px);
  padding: 45px 10px; }

.examiner-pic-mask {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
  margin: 40px auto;
  border-radius: 50%;
  background-image: url("http://2.bp.blogspot.com/-RpsNiy6tujY/UD_rBTI9JxI/AAAAAAAAAZo/zCHTgeMdA38/s1600/Eva-Green-2012-photo-07.jpeg");
  background-size: cover; }

/**
* examiner fields
**/
.examiner-field-info {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  outline: transparent; }

.examiner-name {
  font-size: 16px;
  font-weight: 600; }

.examiner-position,
.examiner-number {
  font-size: 13px; }

/**
* examiner button
*/
.examiner-edit-button {
  width: 100%;
  height: 20px;
  margin: 40px auto;
  color: palette(text, button-underline);
  text-align: center;
  text-decoration: underline;
  font-size: 13px;
  border: none;
  outline: transparent;
  background-color: transparent;
  cursor: pointer; }

.examiner-edit-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: palette(background, person-boxes);
  -webkit-transition: transform 0.33s ease-out;
  -o-transition: transform 0.33s ease-out;
  transition: transform 0.33s ease-out;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }
  .examiner-edit-wrapper .examiner-pic-wrapper,
  .examiner-edit-wrapper .examiner-fields-wrapper,
  .examiner-edit-wrapper .examiner-buttons-wrapper {
    position: absolute;
    left: 0; }
  .examiner-edit-wrapper .examiner-fields-wrapper {
    left: 200px; }
  .examiner-edit-wrapper .examiner-buttons-wrapper {
    left: initial;
    right: 0; }

.examiner-wrapper.notComplete .examiner-edit-wrapper {
  -webkit-transform: translateY(3px);
  -ms-transform: translateY(3px);
  -o-transform: translateY(3px);
  transform: translateY(3px); }

.examiner-wrapper.notComplete .examiner-field-info {
  border: 1px solid palette(border);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 -3px 0 0 rgba(0, 0, 0, 0.14); }

/*# sourceMappingURL=examiner.css.map */