<section class="question-item">
    <section class="question-item-header">
        <p class="question-item-header-number">01</p>
        <p class="question-item-header-title">Pre-Flight / Taxi</p>
    </section>
    <section class="questions-group-zone">
        
        <!-- sub question zone -->
        <section class="question-sub-title">
            <p class="question-sub-header-name">Dispatch</p>
            <div class="questions-sub-choices">
                <div class="answer-options-header clickable">Standard</div>
                <div class="answer-options-header">NSTD</div>
                <div class="answer-options-header">N/A</div>
            </div>
        </section>

        <!-- sub question questions -->
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">01</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-01" name="standard-evaluation-01" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-01"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-01" name="non-standard-evaluation-01" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-01"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-01" id="non-applicable-evaluation-01" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-01"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">02</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-02" name="standard-evaluation-02" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-02"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-02" name="non-standard-evaluation-02" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-02"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-02" id="non-applicable-evaluation-02" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-02"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">03</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-03" name="standard-evaluation-03" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-03"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-03" name="non-standard-evaluation-03" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-03"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-03" id="non-applicable-evaluation-03" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-03"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">04</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-04" name="standard-evaluation-04" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-04"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-04" name="non-standard-evaluation-04" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-04"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-04" id="non-applicable-evaluation-04" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-04"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">05</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-05" name="standard-evaluation-05" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-05"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-05" name="non-standard-evaluation-05" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-05"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-05" id="non-applicable-evaluation-05" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-05"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">06</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-06" name="standard-evaluation-06" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-06"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-06" name="non-standard-evaluation-06" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-06"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-06" id="non-applicable-evaluation-06" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-06"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">07</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-07" name="standard-evaluation-07" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-07"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-07" name="non-standard-evaluation-07" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-07"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-07" id="non-applicable-evaluation-07" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-07"></label>
                </div>
            </section>
        </section>
    </section>
    
    <section class="questions-group-zone">
        
        <!-- sub question zone -->
        <section class="question-sub-title">
            <p class="question-sub-header-name">Before Blocks Off</p>
            <div class="questions-sub-choices">
                <div class="answer-options-header clickable">Standard</div>
                <div class="answer-options-header">NSTD</div>
                <div class="answer-options-header">N/A</div>
            </div>
        </section>

        <!-- sub question questions -->
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">01</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-01" name="standard-evaluation-01" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-01"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-01" name="non-standard-evaluation-01" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-01"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-01" id="non-applicable-evaluation-01" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-01"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">02</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-02" name="standard-evaluation-02" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-02"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-02" name="non-standard-evaluation-02" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-02"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-02" id="non-applicable-evaluation-02" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-02"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">03</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-03" name="standard-evaluation-03" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-03"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-03" name="non-standard-evaluation-03" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-03"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-03" id="non-applicable-evaluation-03" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-03"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">04</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-04" name="standard-evaluation-04" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-04"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-04" name="non-standard-evaluation-04" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-04"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-04" id="non-applicable-evaluation-04" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-04"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">05</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-05" name="standard-evaluation-05" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-05"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-05" name="non-standard-evaluation-05" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-05"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-05" id="non-applicable-evaluation-05" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-05"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">06</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-06" name="standard-evaluation-06" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-06"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-06" name="non-standard-evaluation-06" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-06"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-06" id="non-applicable-evaluation-06" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-06"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">07</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-07" name="standard-evaluation-07" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-07"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-07" name="non-standard-evaluation-07" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-07"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-07" id="non-applicable-evaluation-07" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-07"></label>
                </div>
            </section>
        </section>
    </section>

    <section class="questions-group-zone">
        
        <!-- sub question zone -->
        <section class="question-sub-title">
            <p class="question-sub-header-name">Dispatch</p>
            <div class="questions-sub-choices">
                <div class="answer-options-header clickable">Standard</div>
                <div class="answer-options-header">NSTD</div>
                <div class="answer-options-header">N/A</div>
            </div>
        </section>

        <!-- sub question questions -->
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">01</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-01" name="standard-evaluation-01" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-01"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-01" name="non-standard-evaluation-01" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-01"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-01" id="non-applicable-evaluation-01" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-01"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">02</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-02" name="standard-evaluation-02" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-02"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-02" name="non-standard-evaluation-02" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-02"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-02" id="non-applicable-evaluation-02" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-02"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">03</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-03" name="standard-evaluation-03" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-03"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-03" name="non-standard-evaluation-03" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-03"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-03" id="non-applicable-evaluation-03" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-03"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">04</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-04" name="standard-evaluation-04" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-04"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-04" name="non-standard-evaluation-04" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-04"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-04" id="non-applicable-evaluation-04" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-04"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">05</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-05" name="standard-evaluation-05" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-05"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-05" name="non-standard-evaluation-05" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-05"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-05" id="non-applicable-evaluation-05" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-05"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">06</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-06" name="standard-evaluation-06" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-06"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-06" name="non-standard-evaluation-06" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-06"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-06" id="non-applicable-evaluation-06" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-06"></label>
                </div>
            </section>
        </section>
        <section class="question-sub-question-item">
            <p class="sub-question-item-number">07</p>
            <p class="sub-question-item-title">Flight plan</p>
            <section class="sub-question-answers-wrapper">
                <div class="radio-click-wrapper">
                    <input type="radio" id="standard-evaluation-07" name="standard-evaluation-07" value="standard" >
                    <label class="label-for-radio-answer" for="standard-evaluation-07"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" id="non-standard-evaluation-07" name="non-standard-evaluation-07" value="non-standard">
                    <label class="label-for-radio-answer" for="non-standard-evaluation-07"></label>
                </div>

                <div class="radio-click-wrapper">
                    <input type="radio" name="non-applicable-evaluation-07" id="non-applicable-evaluation-07" value="non-applicable">
                    <label class="label-for-radio-answer" for="non-applicable-evaluation-07"></label>
                </div>
            </section>
        </section>
    </section>
</section>

<script>
    /**
    * binds event to select all standard answers
    */
    bindSelectAllStandardAnswers = function() {
        $('.answer-options-header.clickable').bind('click', function(ev) {
            ev.stopPropagation();
            var groupZone = $(this).parents('.questions-group-zone');

            console.log(groupZone);
            window.lol = groupZone;

            groupZone.find('input').prop('checked', false);
            groupZone.find('input[value="standard"]').prop('checked', true);
        });
    };

    /**
    * opens and closes a question group
    */
    bindOpenCloseQuestionGroup = function() {
        $('.question-item-header').bind('click', function(ev) {
            ev.stopPropagation();
            var headerElem = $(this).parents('.question-item');

            if( headerElem.hasClass('open') ) {
                headerElem.removeClass('open');
                headerElem.find('.questions-group-zone').removeClass('open');
            } else {
                headerElem.addClass('open');
                $(headerElem.find('.questions-group-zone')[0]).addClass('open');
            }

        });
    };

    /**
    * opens and closes a sub question group
    */
    bindOpenCloseSubQuestionsGroup = function() {
        $('.questions-group-zone').bind('click', function(ev) {
            ev.stopPropagation();

            $(this).toggleClass('open');
        });
    };

    bindSelectAllStandardAnswers();
    bindOpenCloseQuestionGroup();
    bindOpenCloseSubQuestionsGroup();
</script>